---
import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";
import Button from "../components/common/Button.astro";
import SectionHeader from "../components/common/section/SectionHeader.astro";
import Container from "../layouts/Container.astro";
import SectionContainer from "../components/common/section/SectionContainer.astro";
import StartAConversionSection from "../components/StartAConversionSection.astro";
import Card from "../components/common/Card.astro";
import OverFlowSection from "../components/OverFlowSection.astro";
import HeroSection from "../components/HeroSection.astro";
import Carousel from "../components/common/Carousel.astro";
import SelectionSection from "../components/SelectionSection.astro";
import RealWordlDeploymentSection from "../components/RealWordlDeploymentSection.astro";
import { cn } from "../utils/cn";

const DigitizeTheWaySectionData = [
  {
    headers: ["Digitize the Way You Work", " Without Replacing What Works"],
    description:
      "From forms and approvals to reports and mobile apps configure everything you need, without code or vendor dependency",
    cards: [
      {
        img: "https://res.cloudinary.com/senpiper/image/upload/v1753955816/senpiper_assets/VikalpOS/icons/Type_Visual_Builder_rp3ib4.svg",
        title: "Visual Builder",
        description: `Design and launch forms, workflows, and
dashboards without coding`,
        content: [
          "Drag-and-drop builder",
          "Conditional logic and routing",
          "Real-time dashboards",
        ],
      },
      {
        img: "https://res.cloudinary.com/senpiper/image/upload/v1753780549/senpiper_assets/VikalpOS/icons/Type_Mobile_First_pct8q2.svg",
        title: "Offline-First Mobile Apps",
        description: `Enable field teams to work reliably without
internet connectivity`,
        content: [
          "Secure offline data collection",
          "Automatic sync when reconnected",
          "Optimized for remote and rural areas",
        ],
      },
      {
        img: "https://res.cloudinary.com/senpiper/image/upload/v1753955869/senpiper_assets/VikalpOS/icons/Type_AI_pher4g.svg",
        title: "AI-Ready Structured Data",
        description: `Ensure clean, validated data ready for automation and insights`,
        content: [
          "Built-in validations and versioning",
          "End-to-end audit trails",
          "Compatible with AI-powered reporting",
        ],
      },
      {
        img: "https://res.cloudinary.com/senpiper/image/upload/v1753955817/senpiper_assets/VikalpOS/icons/Type_User_Role_y5e9rq.svg",
        title: "Role-Based Access",
        description: `Manage user roles, tasks, and approvals with complete control`,
        content: [
          "Define custom roles and permissions",
          "Support multi-level approvals",
          "Enable real-time task tracking",
        ],
      },
      {
        img: "https://res.cloudinary.com/senpiper/image/upload/v1753955843/senpiper_assets/VikalpOS/icons/Type_Language_vlnjnf.svg",
        title: "Multilingual Interfaces",
        description: `Serve teams better with local language support across platforms`,
        content: [
          "Localized forms and apps",
          "Easy adoption by ground staff",
          "Admin and field-friendly UI",
        ],
      },
      {
        img: "https://res.cloudinary.com/senpiper/image/upload/v1753955834/senpiper_assets/VikalpOS/icons/Type_Open_Source_Int._o1irgn.svg",
        title: "Open Integrations",
        description: `Seamlessly connect with systems, tools, and national platforms`,
        content: [
          "Secure and scalable APIs",
          "Integration with national databases",
          "Support for legacy system extensions",
        ],
      },
    ],
  },
];

const applicationSectionData = {
  headers: ["Purpose-Built Solutions for", " Policing & Law Enforcement"],
  description:
    "From forms and approvals to reports and mobile apps configure everything you need, without code or vendor dependency",
  content: [
    {
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754568263/senpiper_assets/VikalpOS/home/Frame_1000007367_wpvj9t.png",
      headers: ["AI-Driven", "Information & Verification"],
      content: [
        "Effortlessly capture and match faces for instant identity verification",
        "Utilize AI to detect and confirm objects, locations, or infrastructure in real time",
        "Enable automated, secure authentication and field validation",
      ],
      className: "bg-background-tertiary",
    },
    {
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955860/senpiper_assets/VikalpOS/icons/Type_Beatbook_xy0reu.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754568889/senpiper_assets/VikalpOS/home/Group_1000005383_qqvf3z.png",
      headers: ["Dynamic", "Task & Resource", "Coordination"],
      content: [
        "Auto-assign tasks based on priority or user roles",
        "Manage staff roles, schedules, and communications",
        "Optimize resource utilization and scheduling",
      ],
    },

    {
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955832/senpiper_assets/VikalpOS/icons/Type_Police_Dashboard_wsqcf3.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754573148/senpiper_assets/VikalpOS/home/Frame_1000007344_qq4n2q.png",
      headers: ["Effortless", "Process Automation"],
      content: [
        "Rapidly configure and launch governance workflows using prebuilt modules",
        "Automate approvals, documentation, and multi-step processes across departments",
        "Ensure zero mile connectivity with multi-language support",
      ],
    },

    {
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955831/senpiper_assets/VikalpOS/icons/Type_Police_Manageent_a4x1m5.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754568571/senpiper_assets/VikalpOS/home/Frame_1000005382_ukhywy.png",
      headers: ["Command-Level", "Oversight"],
      content: [
        "Real-time dashboards tailored for senior officials",
        "Monitor progress by team, department, or location",
        "Identify trends and gaps for informed decisions",
      ],
      className: "bg-background-tertiary",
    },
  ],
};

const AiEnabledSectionData = {
  headers: ["AI-Enabled Governance", "Powering Smarter Public Systems"],
  description:
    "Leverage the full potential of AI to drive intelligent automation, policy execution, and data-driven governance. Our integrated AI solutions embed intelligence into departmental workflows enhancing transparency, efficiency, and public service delivery at scale",
  cards: [
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955867/senpiper_assets/VikalpOS/icons/Type_AI-Driven_Data_Infrastructure_uoipkk.svg",
      title: "AI Data Fabric & Management",
      description: `Unify public data ecosystems with intelligent control`,
      content:
        "Break down data silos and enable consistent, secure, and real-time data exchange across departments. Ensure accuracy, traceability, and compliance through AI-powered data governance frameworks",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955845/senpiper_assets/VikalpOS/icons/Type_Integrated_AI_for_Legacy_Systems_wemmqj.svg",
      title: "Integrated AI for Legacy Systems",
      description: `Modernize admin systems with predictive intelligence`,
      content:
        "Infuse AI capabilities into existing platforms such as MIS, ERP, and citizen service portals. Achieve proactive decision-making, automated operations, and measurable performance improvement",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955828/senpiper_assets/VikalpOS/icons/Type_Predictive_Governance_Insights_ykrfjc.svg",
      title: "Predictive Governance & Insights",
      description: `Transform data into foresight for better policy outcomes`,
      content:
        "Harness AI analytics for early-warning systems, demand forecasting, and service optimization. Make informed, timely decisions with deep, actionable insights powered by advanced algorithms",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955852/senpiper_assets/VikalpOS/icons/Type_Cognitive_Automation_of_Public_Workflows_k8pwmk.svg",
      title: "Cognitive Automation of Workflows",
      description: `Streamline processes, reduce bottlenecks, deliver faster`,
      content:
        "Automate high-volume, rule-based administrative tasks using AI and machine learning. Improve staff productivity, reduce processing time, and enhance citizen satisfaction through intelligent workflow orchestration",
    },
  ],
};

const onGroundOutComesSectionData = {
  headers: ["On-Ground", " Outcomes"],
  description:
    "See how our platform has driven measurable change across organisations",
  cards: [
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754639901/senpiper_assets/VikalpOS/home/logo-5_vsgmpp.svg",
      description:
        "We deployed a unified smart suite with geo-enabled duty tracking, digital FIRs, & real-time criminal intelligence, boosting coordination and citizen trust",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754639903/senpiper_assets/VikalpOS/home/logo-4_aqbmkz.svg",
      description:
        "We deployed a unified smart suite with geo-enabled duty tracking, digital FIRs, & real-time criminal intelligence, boosting coordination and citizen trust",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754639908/senpiper_assets/VikalpOS/home/logo-2_nam9hw.svg",
      description:
        "We deployed a unified smart suite with geo-enabled duty tracking, digital FIRs, & real-time criminal intelligence, boosting coordination and citizen trust",
    },
  ],
};

const govermentGradeSectionData = {
  headers: ["Government-Grade", "Security Management"],
  title: `One unified platform for secure, compliant governance`,
  description: `Strengthen your department’s digital infrastructure with a trusted
          security framework. Enable proactive threat detection, access control,
          data protection, and regulatory compliance`,
  cards: [
    {
      img: `https://res.cloudinary.com/senpiper/image/upload/v1753955844/senpiper_assets/VikalpOS/icons/Type_Intelligent_Control_pldcdc.svg`,
      title: "Intelligent Access Control",
    },
    {
      img: `https://res.cloudinary.com/senpiper/image/upload/v1753955827/senpiper_assets/VikalpOS/icons/Type_Real-Time_Threat_Detection_nhgewg.svg`,
      title: "Real-Time Threat Detection",
    },
    {
      img: `https://res.cloudinary.com/senpiper/image/upload/v1753955820/senpiper_assets/VikalpOS/icons/Type_Secure_Data_Encryption_itrtci.svg`,
      title: "Secure Data Encryption",
    },
    {
      img: `https://res.cloudinary.com/senpiper/image/upload/v1753955862/senpiper_assets/VikalpOS/icons/Type_Automated_Incident_Response_mfuz0n.svg`,
      title: "Automated Incident Response",
    },
    {
      img: `https://res.cloudinary.com/senpiper/image/upload/v1753955825/senpiper_assets/VikalpOS/icons/Type_Regulatory_compliance_yoyniq.svg`,
      title: "Regulatory Compliance",
    },
    {
      img: `https://res.cloudinary.com/senpiper/image/upload/v1753955835/senpiper_assets/VikalpOS/icons/Type_Network_endpoint_protection_p5hlzw.svg`,
      title: "Network Endpoint Protection",
    },
  ],
};

const provenCollaborationSectionData = {
  headers: ["Proven Collaboration Across Core", " Governance Sectors"],
  description:
    "We’ve partnered with public departments and organizations to digitize essential services, enhance citizen engagement, and modernize administrative workflows, ensuring impact at scale across nation",
};

const heroSectionData = {
  headers: ["Build Digital Systems Fast", "Free from Lock-In."],
  description:
    "VikalpOS is a modular low-code platform to create apps, forms, workflows, dashboards, and mobile tools without writing code or depending on a vendor",
};

const features = [
  "Open Source",
  "Low-Code",
  "No Lock-In",
  "Offline-First",
  "Vernacular UI",
];

const images = [
  "https://res.cloudinary.com/senpiper/image/upload/v1754639911/senpiper_assets/VikalpOS/home/logo_lqp3ac.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639912/senpiper_assets/VikalpOS/home/logo-1_taxfql.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639908/senpiper_assets/VikalpOS/home/logo-2_nam9hw.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639909/senpiper_assets/VikalpOS/home/logo-3_ke6xmr.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639903/senpiper_assets/VikalpOS/home/logo-4_aqbmkz.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639901/senpiper_assets/VikalpOS/home/logo-5_vsgmpp.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639900/senpiper_assets/VikalpOS/home/logo-6_i9dxd8.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639899/senpiper_assets/VikalpOS/home/logo-7_qttadl.svg",
  "https://res.cloudinary.com/senpiper/image/upload/v1754639900/senpiper_assets/VikalpOS/home/logo-8_o9raij.svg",
];

const selectionSectionData = {
  headers: ["How It Works ?", "Design to Deliver Excellence"],
  description: `Digitize public service delivery with ease. Use pre-built modules or create your own flows.
From data capture to real-time dashboards, all within a single, no-code platform`,
  content: [
    {
      option: "Capture Data",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636744/senpiper_assets/VikalpOS/vikalpHub/4-form_field_only_xgwjwi_ycvl2u.gif",
      headers: ["Seamless data collection with a smooth flow pan platforms"],
      content: [
        "Intuitive Drag & Drop Builder",
        "Offline Data Collection Support",
        "Seamless Integrations",
      ],
    },
    {
      option: "Processes",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",

      img: "https://res.cloudinary.com/senpiper/image/upload/v1754637141/senpiper_assets/VikalpOS/vikalpHub/5-workflow_z0eyjn_uoibj4.gif",
      headers: ["Architect sophisticated processes effortlessly"],
      content: [
        "Infinite Branching Logic",
        "Highly Configurable",
        "Customizable Alerts",
      ],
    },
    {
      option: "Communicate",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636903/senpiper_assets/VikalpOS/vikalpHub/6-chat_mujizl_hygzar.gif",
      headers: [
        "Harbor harmony amongst all stakeholders, through one platform",
      ],
      content: [
        "Group and Individual Chat Support",
        "9 Types of Attachments Supported",
        "Role Based Access",
      ],
    },
    {
      option: "Analyze",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636895/senpiper_assets/VikalpOS/vikalpHub/7-reports_ewo7al_pchehf.gif",
      headers: ["Condensed and concise reports on the go"],
      content: [
        "Exhaustive Chart Support",
        "One Click Share",
        "Powerful insights",
      ],
    },
    {
      option: "Manage Users",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636863/senpiper_assets/VikalpOS/vikalpHub/manage_users_lzwfwe_usv1ts.gif",
      headers: [
        "Control access to reports, flows, forms and chat at your fingertips",
      ],
      content: [
        "SSO integration",
        "Customized Role Management",
        "CRM/ERP Integration",
      ],
    },
  ],
};
---

<Layout title="VikalpOS">
  <HeroSection
    headers={heroSectionData.headers}
    description={heroSectionData.description}
  >
    <div class="h-fit slideInLeft">
      <img
        src="https://res.cloudinary.com/senpiper/image/upload/v1754633661/senpiper_assets/VikalpOS/home/Form_Builder_GIF_t8vkkc.gif"
        alt="#"
        class="w-fit"
      />
    </div>
  </HeroSection>

  <section>
    <Wrapper>
      <div class="flex gap-1 md:gap-2 justify-center w-full slideInDown">
        <img
          src="https://res.cloudinary.com/senpiper/image/upload/v1754031777/senpiper_assets/VikalpOS/icons/Icons_1_ddijq6.svg"
        />
        <span
          class="text-typography-40 font-bold text-lg text-center md:text-xl"
          >Powering Governance with Scalable & Trusted Tech</span
        >
        <img
          src="https://res.cloudinary.com/senpiper/image/upload/v1754031770/senpiper_assets/VikalpOS/icons/Icons_hqa7o1.svg"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-8 md:gap-16 mt-10 md:mt-14">
        {
          features.map(element => (
            <div class="text-primary-70 font-bold bg-background-tertiary p-4 rounded-lg w-fit slideInUp">
              {element}
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>

  <Container
    headers={provenCollaborationSectionData.headers}
    description={provenCollaborationSectionData.description}
  >
    <div
      class="bg-background-tertiary px-2 py-4 rounded-xl flex flex-wrap justify-evenly gap-8 md:gap-4"
    >
      {images.map(element => <img class="imgPop" src={element} />)}
    </div>
  </Container>

  {
    DigitizeTheWaySectionData.map(element => (
      <Container headers={element.headers} description={element.description}>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 pt-5">
          {element.cards.map(card => (
            <Card card={card} />
          ))}
        </div>
      </Container>
    ))
  }

  <SectionContainer className="gap-11 lg:gap-20">
    <Wrapper>
      <SectionHeader
        headers={applicationSectionData.headers}
        description={applicationSectionData.description}
      />
    </Wrapper>
    {
      applicationSectionData.content.map((element, index) => (
        <section class={cn(element.className)}>
          <Wrapper>
            <div
              class={`grid grid-cols-1 lg:grid-cols-2 mt-11 lg:mt-20 gap-10`}
            >
              <img
                src={element.img}
                alt="enterprise_img"
                class={`relative w-full h-full object-contain slideInLeft ${index % 2 == 0 ? "order-1" : ""}`}
              />
              <div class="flex flex-col items-start slideInRight gap-3 md:gap-4">
                <img
                  src={element.icon}
                  alt="enterprise_img"
                  class="w-[48px] h-[48px] relative"
                />
                <h3 class="text-typography-80 font-bold text-left text-xl md:text-3xl">
                  {element.headers.map((header, index) => (
                    <span class={cn(index % 2 === 0 && "text-primary-70")}>
                      {header}
                    </span>
                  ))}
                </h3>
                <ul class="space-y-2 text-left self-start md:text-xl">
                  {element.content.map(value => (
                    <li class="flex gap-2">
                      <img src="https://res.cloudinary.com/senpiper/image/upload/v1753788029/senpiper_assets/VikalpOS/icons/check_circle_en544w.svg" />
                      <span class="text-typography-80 text-base">{value}</span>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </Wrapper>
        </section>
      ))
    }
  </SectionContainer>

  <SelectionSection sectionData={selectionSectionData} />

  <OverFlowSection sectionData={govermentGradeSectionData} />

  <Container
    headers={AiEnabledSectionData.headers}
    description={AiEnabledSectionData.description}
    className="lg:mt-40"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      {
        AiEnabledSectionData.cards.map(card => (
          <Card iconAndHeaderSameLine card={card} />
        ))
      }
    </div>
  </Container>

  <RealWordlDeploymentSection />

  <Container
    headers={onGroundOutComesSectionData.headers}
    description={onGroundOutComesSectionData.description}
  >
    <Carousel items={onGroundOutComesSectionData.cards}>
      {
        onGroundOutComesSectionData.cards.map(card => (
          <div class="min-w-full md:min-w-[400px] md:w-[33%] p-4 box-border">
            <div class="bg-background-tertiary p-4 space-y-8">
              <div class="bg-background-primary w-full h-32 flex justify-center items-center px-2 py-4">
                <img src={card.img} class="w-fit h-full object-cover" />
              </div>
              <p class="text-center">{card.description}</p>
              {/* <div class="flex justify-center">
                <Button variant="secondary" text="View Case Study" link="/" />
              </div> */}
            </div>
          </div>
        ))
      }
    </Carousel>
  </Container>

  <StartAConversionSection />
</Layout>
