---
import Button from "../components/common/Button.astro";
import Card from "../components/common/Card.astro";
import GraphSection from "../components/GraphSection.astro";
import OverFlowSection from "../components/OverFlowSection.astro";
import StartAConversionSection from "../components/StartAConversionSection.astro";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../layouts/Wrapper.astro";
import HeroSection from "../components/HeroSection.astro";
import SelectionSection from "../components/SelectionSection.astro";
import RealWordlDeploymentSection from "../components/RealWordlDeploymentSection.astro";

const empoverGovernmentSectionData = {
  headers: [
    "Empower",
    `Government 
Innovation`,
    "at Scale",
  ],
  description:
    "Unlock the full potential of your teams with VikalpOS’s low-code governance platform streamlining processes, cutting costs, and delivering citizen-centric services.",

  cards: [
    {
      title: "Unlock Exceptional ROI",
      description:
        "By removing costly vendor lock-in and soaring license fees, VikalpOS transforms each deployment into a strategic investment delivering measurable returns that empower departments to reinvest in innovation.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955821/senpiper_assets/VikalpOS/icons/Type_ROI_q8iljn.svg",
    },
    {
      title: "Reduced Implementation Cost",
      description:
        "Low-code development slashes procurement timelines and reduces reliance on specialized IT resources, cutting both capital outlay and ongoing maintenance costs for government projects.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955850/senpiper_assets/VikalpOS/icons/Type_Cost_bhthro.svg",
    },
    {
      title: "Accelerate Policy Adaptation",
      description:
        "Visual workflow editing and instant rule updates let agencies respond to new regulations in real time, minimizing service disruptions and ensuring uninterrupted citizen support.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955829/senpiper_assets/VikalpOS/icons/Type_Policy_wl8whn.svg",
    },
    {
      title: "Government-Grade Security",
      description:
        "Built-in encryption, granular access controls, and compliance with government standards protect sensitive data at every layer, giving administrators confidence in platform resilience.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955820/senpiper_assets/VikalpOS/icons/Type_Secure_Data_Encryption_itrtci.svg",
    },
    {
      title: "Always Compliant & Updated",
      description:
        "Continuous feature releases and automated updates align with evolving policies and regulatory requirements, keeping your governance tools audit-ready without manual intervention.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955851/senpiper_assets/VikalpOS/icons/Type_Compliance_ehnjxs.svg",
    },
    {
      title: "Citizen-Centric Experience",
      description:
        "Streamlined, action-oriented interfaces simplify interactions for staff and citizens alike, boosting productivity and ensuring every public service touchpoint is intuitive and efficient.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955855/senpiper_assets/VikalpOS/icons/Type_Citizens_w0jqhp.svg",
    },
  ],
};

const comprehensiveGovernanceSectionData = {
  headers: ["Comprehensive", "Governance Application Suite"],
  description:
    "Empower your department with a single, all-in-one solution that delivers end-to-end control, real-time insight, and seamless citizen engagement without complexity of multiple vendors or custom integrations",
  cards: [
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955851/senpiper_assets/VikalpOS/icons/Type_Compliance_ehnjxs.svg",
      title: "Compliance Monitoring",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955824/senpiper_assets/VikalpOS/icons/Type_resource_tqkm4a.svg",
      title: "Resource Allocation",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955627/senpiper_assets/VikalpOS/icons/Type_Audit_bjoqjo.svg",
      title: "Audit & Risk Assessment",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955829/senpiper_assets/VikalpOS/icons/Type_Policy_wl8whn.svg",
      title: "Policy Management",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955627/senpiper_assets/VikalpOS/icons/Type_case_and_incident_fdlynn.svg",
      title: "Query & Complaint Management",
    },
    {
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955856/senpiper_assets/VikalpOS/icons/Type_Citizen_portal_flshbj.svg",
      title: "Citizen Feedback Portal",
    },
  ],
};

const unMatechedSecuritySectionData = {
  headers: [
    "Unmatched Security, Speed, and Control",
    "Built for Modern Governance",
  ],
  description:
    "Deploy government solutions 10x faster with VikalpOS’s intuitive, low-code tools engineered from the ground up for public sector operational needs.",
  cards: [
    {
      title: "Secure Government Deployments",
      description:
        "Host your applications within secure government-approved private cloud or air-gapped environments. Control the environment, compliance, and privacy of your critical workloads.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955820/senpiper_assets/VikalpOS/icons/Type_Secure_Data_Encryption_itrtci.svg",
    },
    {
      title: "Department-Branded Solutions",
      description:
        "Roll out tools and services that look and feel like your own department. Launch platforms with complete visual identity control and high user adoption.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955828/senpiper_assets/VikalpOS/icons/Type_Predictive_Governance_Insights_ykrfjc.svg",
    },
    {
      title: "Priority Government Support",
      description:
        "Access dedicated public sector support teams with rapid SLA-based onboarding, on-call engineering, and governance-compliant operations for time-critical projects.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955845/senpiper_assets/VikalpOS/icons/Type_Integrated_AI_for_Legacy_Systems_wemmqj.svg",
    },
    {
      title: "Flexible Government Integrations",
      description:
        "Seamlessly connect with national registries, identity databases, and sectoral IT stacks. Build secure, scalable APIs and standards-based bridges to maximize interoperability and platform extensibility.",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1753955852/senpiper_assets/VikalpOS/icons/Type_Cognitive_Automation_of_Public_Workflows_k8pwmk.svg",
    },
  ],
};

const heroSectionData = {
  headers: ["Accelerate", "Public Service Innovation", "with Low-Code"],
  description: `Deploy modular, open-source workflows and citizen-centric  government processes automated for faster and 
cost-effective service delivery`,
};

const selectionSectionData = {
  headers: ["How It Works ?", "Design to Deliver Excellence"],
  description: `Digitize public service delivery with ease. Use pre-built modules or create your own flows.
From data capture to real-time dashboards, all within a single, no-code platform`,
  content: [
    {
      option: "Capture Data",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636744/senpiper_assets/VikalpOS/vikalpHub/4-form_field_only_xgwjwi_ycvl2u.gif",
      headers: ["Seamless data collection with a smooth flow pan platforms"],
      content: [
        "Intuitive Drag & Drop Builder",
        "Offline Data Collection Support",
        "Seamless Integrations",
      ],
    },
    {
      option: "Processes",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",

      img: "https://res.cloudinary.com/senpiper/image/upload/v1754637141/senpiper_assets/VikalpOS/vikalpHub/5-workflow_z0eyjn_uoibj4.gif",
      headers: ["Architect sophisticated processes effortlessly"],
      content: [
        "Infinite Branching Logic",
        "Highly Configurable",
        "Customizable Alerts",
      ],
    },
    {
      option: "Communicate",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636903/senpiper_assets/VikalpOS/vikalpHub/6-chat_mujizl_hygzar.gif",
      headers: [
        "Harbor harmony amongst all stakeholders, through one platform",
      ],
      content: [
        "Group and Individual Chat Support",
        "9 Types of Attachments Supported",
        "Role Based Access",
      ],
    },
    {
      option: "Analyze",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636895/senpiper_assets/VikalpOS/vikalpHub/7-reports_ewo7al_pchehf.gif",
      headers: ["Condensed and concise reports on the go"],
      content: [
        "Exhaustive Chart Support",
        "One Click Share",
        "Powerful insights",
      ],
    },
    {
      option: "Manage Users",
      icon: "https://res.cloudinary.com/senpiper/image/upload/v1753955865/senpiper_assets/VikalpOS/icons/Type_Ai_policing_ghqmxv.svg",
      img: "https://res.cloudinary.com/senpiper/image/upload/v1754636863/senpiper_assets/VikalpOS/vikalpHub/manage_users_lzwfwe_usv1ts.gif",
      headers: [
        "Control access to reports, flows, forms and chat at your fingertips",
      ],
      content: [
        "SSO integration",
        "Customized Role Management",
        "CRM/ERP Integration",
      ],
    },
  ],
};
---

<Layout title="Vikalp Hub">
  <HeroSection
    headers={heroSectionData.headers}
    description={heroSectionData.description}
  >
    <div class="h-fit slideInLeft">
      <img
        src="https://res.cloudinary.com/senpiper/image/upload/v1754633661/senpiper_assets/VikalpOS/home/Form_Builder_GIF_t8vkkc.gif"
        alt="#"
        class="w-fit"
      />
    </div>
  </HeroSection>

  <Container
    headers={empoverGovernmentSectionData.headers}
    description={empoverGovernmentSectionData.description}
  >
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      {empoverGovernmentSectionData.cards.map(card => <Card card={card} />)}
    </div>
  </Container>

  <GraphSection />

  <OverFlowSection sectionData={comprehensiveGovernanceSectionData} />

  <SelectionSection sectionData={selectionSectionData} className="lg:mt-40" />

  <Container
    headers={unMatechedSecuritySectionData.headers}
    description={unMatechedSecuritySectionData.description}
    className="lg:mt-40"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      {
        unMatechedSecuritySectionData.cards.map(card => (
          <Card iconAndHeaderSameLine card={card} />
        ))
      }
    </div>
  </Container>

  <RealWordlDeploymentSection />

  <StartAConversionSection />
</Layout>
