---
import Wrapper from "../layouts/Wrapper.astro";

export interface Props {
  className?: string;
  sectionData?: any;
}

const { className = "", sectionData = {} } = Astro.props;
---

<section class="bg-background-tertiary mt-20 lg:mt-60 lg:h-[400px]">
  <Wrapper>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 slideInRight">
      <div class="md:flex flex-col items-start slideInRight gap-3 md:gap-4">
        <h3 class="text-typography-80 font-bold text-left text-xl md:text-2xl">
          {
            sectionData.headers.map((header, index) => (
              <span
                class={index == 0 ? "text-typography-80" : "text-primary-70"}
              >
                {header}
              </span>
            ))
          }
        </h3>
        {
          sectionData.title && (
            <p class="text-[#707070] font-medium xl:text-xl text-left self-start w-full leading-4 md:leading-7">
              {sectionData.title}
            </p>
          )
        }

        <p class="text-blue-grey-50 text-left self-start md:text-xl">
          {sectionData.description}
        </p>
      </div>
      <div class="grid grid-cols-2 gap-12 items-start lg:translate-y-[-120px]">
        {
          sectionData.cards.map(card => (
            <div class="flex flex-col gap-6 bg-primary-10 rounded-md px-4 py-4 h-full slideInLeft">
              <img src={card.img} class="h-10 w-10 imgPop" />
              <span class="text-lg md:text-xl font-bold text-primary-70 slideInRightSub">
                {card.title}
              </span>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
