---
import Container from "../layouts/Container.astro";
import { cn } from "../utils/cn";
import Button from "./common/Button.astro";

export interface Props {
  sectionData: {
    headers: string[];
    description: string;
    content: any[];
  };
}

const { sectionData } = Astro.props as Props;
---

<Container headers={sectionData.headers} description={sectionData.description}>
  <div class="mt-10 mb-10">
    <div class="flex gap-4 w-full" id="buttons-container">
      {
        sectionData.content.map((element, index) => (
          <button
            class={cn(
              "p-4 rounded-lg text-primary-80 transition-all duration-400",
              index === 0 && "bg-primary-20"
            )}
          >
            {element.option}
          </button>
        ))
      }
    </div>
    <div id="content-container">
      {
        sectionData.content.map((element, index) => (
          <div class={cn("bg-background-primary box", index !== 0 && "hidden")}>
            <div class="grid grid-cols-1 lg:grid-cols-2 mt-20 gap-10">
              <div class="flex flex-col items-start slideInRight gap-3 md:gap-4">
                <h3 class="text-typography-80 font-bold text-left text-xl md:text-3xl">
                  {element.header}
                </h3>
                <ul class="space-y-2 text-left self-start md:text-xl">
                  {element.content.map(value => (
                    <li class="flex gap-2">
                      <img src="https://res.cloudinary.com/senpiper/image/upload/v1753788029/senpiper_assets/VikalpOS/icons/check_circle_en544w.svg" />
                      <span class="text-typography-80 text-base">{value}</span>
                    </li>
                  ))}
                </ul>
                <Button text="Learn more" variant="secondary" />
              </div>
              <img
                src="https://res.cloudinary.com/senpiper/image/upload/v1669290323/senpiper_assets/new_website_assets/5-workflow_z0eyjn.gif"
                alt="enterprise_img"
                class="bg-background-tertiary relative w-full h-full object-contain slideInLeft"
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Container>

<script>
  const buttons = document.getElementById("buttons-container")
    ?.children as HTMLCollection;
  const contents = document.getElementById("content-container")
    ?.children as HTMLCollection;

  const handleOnClick = (index: number) => () => {
    contents[index].classList.remove("hidden");

    for (let i = 0; i < buttons?.length; i++) {
      if (i === index) {
        buttons[i].classList.add("bg-primary-20");
        contents[i].classList.remove("hidden");
      } else {
        buttons[i].classList.remove("bg-primary-20");
        contents[i].classList.add("hidden");
      }
    }
  };

  for (let i = 0; i < buttons?.length; i++) {
    buttons[i].addEventListener("click", handleOnClick(i));
  }
</script>
