---
import Container from "../layouts/Container.astro";
import { cn } from "../utils/cn";
import Button from "./common/Button.astro";

export interface Props {
  sectionData: {
    headers: string[];
    description: string;
    content: any[];
  };
  className?: string;
}

const { sectionData, className = "" } = Astro.props as Props;
---

<Container
  headers={sectionData.headers}
  description={sectionData.description}
  className={className}
>
  <div
    class="flex flex-wrap justify-between md:justify-center gap-4 w-full"
    id="buttons-container"
  >
    {
      sectionData.content.map((element, index) => (
        <div class="flex gap-2 items-stretch">
          <button
            class={cn(
              "rounded-lg text-primary-80 transition-all duration-400 text-base p-2 md:py-4 w-fit",
              index === 0 && "bg-primary-20"
            )}
          >
            {element.option}
          </button>
          <img
            src="https://res.cloudinary.com/senpiper/image/upload/v1754031770/senpiper_assets/VikalpOS/icons/Icons_hqa7o1.svg"
            class={cn(
              "w-4 h-4 md:w-8 md:h-8 self-center",
              index === sectionData.content.length - 1 && "hidden"
            )}
          />
        </div>
      ))
    }
  </div>
  <div id="content-container">
    {
      sectionData.content.map((element, index) => (
        <div class={cn("bg-background-primary box", index !== 0 && "hidden")}>
          <div class="grid grid-cols-1 lg:grid-cols-2 mt-10 md:mt-20 gap-10">
            <div class="flex flex-col items-start slideInRight gap-3 md:gap-4">
              <h3 class="text-typography-80 font-bold text-left text-xl md:text-3xl">
                {element.headers.map((header, index) => (
                  <span class={index !== 0 && "text-primary-70"}>{header}</span>
                ))}
              </h3>
              <ul class="space-y-2 text-left self-start md:text-xl">
                {element.content.map(value => (
                  <li class="flex gap-2">
                    <img src="https://res.cloudinary.com/senpiper/image/upload/v1753788029/senpiper_assets/VikalpOS/icons/check_circle_en544w.svg" />
                    <span class="text-typography-80 text-base">{value}</span>
                  </li>
                ))}
              </ul>
              {/* <Button text="Learn more" variant="secondary" /> */}
            </div>
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1669290323/senpiper_assets/new_website_assets/5-workflow_z0eyjn.gif"
              alt="enterprise_img"
              class="bg-background-tertiary relative w-full h-full object-contain slideInLeft"
            />
          </div>
        </div>
      ))
    }
  </div>
</Container>

<script>
  const buttons = document
    .getElementById("buttons-container")
    ?.getElementsByTagName("button") as HTMLCollection;
  const contents = document.getElementById("content-container")
    ?.children as HTMLCollection;

  const handleOnClick = (index: number) => () => {
    contents[index].classList.remove("hidden");

    for (let i = 0; i < buttons?.length; i++) {
      if (i === index) {
        buttons[i].classList.add("bg-primary-20");
        contents[i].classList.remove("hidden");
      } else {
        buttons[i].classList.remove("bg-primary-20");
        contents[i].classList.add("hidden");
      }
    }
  };

  for (let i = 0; i < buttons?.length; i++) {
    buttons[i].addEventListener("click", handleOnClick(i));
  }
</script>
