---
import { cn } from "../../utils/cn";

export interface Props {
  text?: string;
  link?: string;
  color?: Array<string>;
  className?: string;
  variant?: string;
  type?: string;
  id?: string;
}

const {
  text = "Reach Us",
  link = "",
  className = "",
  variant = "primary",
  type = "button",
  id,
} = Astro.props as Props;

const baseClasses =
  "text-center flex justify-center items-center h-full w-fit h-12 cursor-pointer transition-all hover:bg-primary-100 text-white px-4 py-2 rounded-sm font-semibold md:text-lg";

const variants: any = {
  primary: "bg-primary-70 hover:bg-primary-80",
  secondary:
    "bg-background-primary border-[0.5px] border-primary-70 text-primary-70 hover:bg-primary-70 hover:text-background-primary",
  tertiary: "bg-transparent text-primary-70 hover:bg-primary-10",
};
---

{
  link ? (
    <a
      id={id}
      href={link}
      class={cn(
        baseClasses,
        variants[variant],
        className
        // "hover:-translate-y-1"
      )}
    >
      {text}
    </a>
  ) : (
    <button
      id={id}
      class={cn(baseClasses, variants[variant], className)}
      type={type}
    >
      {text}
    </button>
  )
}
