---
import { cn } from "../../utils/cn";

export interface Props extends InputHTMLAttributes {
  title: string;
  value?: any;
  id: string;
  name: string;
  className?: string;
  type?: string;
  required?: boolean;
}

const {
  title,
  value = "",
  id,
  name,
  className = "",
  type,
  required = false,
} = Astro.props;
---

<div class="grid gap-1 md:gap-2">
  <label class="text-typography-40">{title}</label>
  <input
    class={cn(
      "border border-typography-40 rounded-sm px-4 py-2 w-full",
      className
    )}
    value={value}
    id={id}
    name={name}
    type={type}
    required={required}
  />
</div>
